html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkslateblue;
}

h3, 
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
} 


nav {
    width: 100%;
    background-color: green;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: whitesmoke;
    margin-right: 25px;
}

nav a:hover {
    color: darkslateblue;
}

#banner {
    width: 100%;
    height: auto;
}

#banner img {
    width: 100%;
    height: auto;
}

.service {
    display: inline-block;
    width: 100px;
    background-color: white;
    border: 2px solid green;
    border-radius: 2px;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

.contactinfo {
    list-style-type: none;

} 

.location {
    list-style-type: none;
}

