html,




body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1 {
    text-align: center;
}
h2 {
    color: darkred;
    text-align: center;
}

h3, 
p {
    text-align: center;
}
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 60%;
    height: auto;
    background-color: white;
    border-style: groove;
    border-width: 5px;
    border-color: purple;
    
}

#banner img {
    width: 60%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

.service {
    display: inline-block;
    text-align: center;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

#tables {
    border-width: 5px;
    border-style: solid;
    border-color: green;


}
.locations {
    list-style-type: none;
    text-align:inherit;
    
}

#origin-pic {
    border-style: ridge;
    border-width: 5px;
    border-color: green;
}
.origin-story {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
